<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }} - App By Liza</title>
		{% else %}
		<title>Welcome to my first Web App!</title>
		{% endif %}
	<style>
		.scroll{
			overflow-x: auto;
			}
		ul{
			list-style-type: none;
			padding: 0;
			margin-left: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
			}
	</style>
	</head>
	<body style="background-color: #CCEEFF">
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
	</body>
</html>
