{% extends "base.html" %}
		{% block content %}
			<div> 
				<a href="{{ url_for('profile') }}">Profile</a>
				<a href="{{ url_for('home') }}">Logout</a>
			</div>
			<h1>Data</h1>
			<table>
			<tr><th><img alt="userspic" src="https://cdn.icon-icons.com/icons2/1071/PNG/512/employee__icon-icons.com_76984.png" width="72px" align="center" vspace="5" hspace="5"></th>
			<th><img alt="pagespic" src="https://cdn.icon-icons.com/icons2/1071/PNG/512/website_icon-icons.com_76969.png" width="72px" align="center" vspace="5" hspace="5"></th></tr>
			<tr><td align="middle"><div><a href="{{ url_for('mongousers') }}">Users</a></div></td>
			<td align="middle"><div><a href="{{ url_for('mongopages') }}">Pages</a></div></td></tr>
{% endblock %}
